node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
!svelte/
svelte/*
!svelte/src/
svelte/src/*
!svelte/src/artifacts/
svelte/src/artifacts/*
!svelte/src/artifacts/contracts
svelte/src/artifacts/contracts/*
!svelte/src/artifacts/contracts/Greeter.sol
svelte/src/artifacts/contracts/Greeter.sol/*
!svelte/src/artifacts/contracts/Greeter.sol/Greeter.json
